{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": [
    ".nyc_output",
    "reports",
    "coverage",
    "docs"
  ],
  "globals": {
    "app": true,
    "dbr": true,
    "_sqlobj": true,
    "logger": true,
    "_decryptItem": true,
    "appInsights": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "operator-linebreak": 0,
    "brace-style": [
      "error",
      "1tbs"
    ],
    "max-params": [
      "error",
      {
        "max": 10
      }
    ],
    "max-statements-per-line": [
      "warn",
      {
        "max": 1
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "camelcase": [
      "warn",
      {
        "properties": "never"
      }
    ],
    "one-var": [
      "warn",
      "never"
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": false
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-case-declarations": 0,
    "no-else-return": [
      "error",
      {
        "allowElseIf": false
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "next"
      }
    ],
    // disallow magic numbers
    // https://eslint.org/docs/rules/no-magic-numbers
    "no-magic-numbers": [
      "off",
      {
        "ignore": [],
        "ignoreArrayIndexes": true,
        "enforceConst": true,
        "detectObjects": false
      }
    ],
    // specify curly brace conventions for all control statements
    "curly": [
      "error"
    ],
    // require the use of === and !==
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "block-scoped-var": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-async-promise-executor": "off",
    "one-var-declaration-per-line": [
      "error",
      "always"
    ]
  }
}
